<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="/scripts/user.js"></script>
    <script src="/scripts/jquery-3.6.0.js"></script>
   <style>
    @media screen and (max-width: 600px){
          .fa, .far, .fas{
      
      color: white;
    }
      .menu{
        display:none;
      }
      
      .heading a i{
        color: white;
      }
      
      
      #lk{
        display:none;
      }
      
      .docs{
        width: 100%;
        display: flex;
        justify-content: center;
      
      }
      
      .docs h1{
        font-size: 50px;
        margin-left: 0px;
        margin-bottom: 200px;
      }
      
      .container1{
        margin-left: 0px;
        width: 100%;
      }
      
      .leftside img{
        margin-left: 0px;
        width: 100%;
      }
      
      .rightside h1{
        
       font-size: 10px; 
        
      }
      
      .rightside p{
        
        font-size: 10px;
      }
      
    } 
    
}
        .navbar {
            position: relative;
        }
  
        .links {
            display: none;
        }
    .heading a:nth-child(2) {

            text-decoration: none;
            font-size: 20px;
            display: block;
            padding: 7px;
            margin-left: 150px;
        }
  
        .heading a i {
            padding: 10px;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }
  
        .heading a i:hover {
        }
  
        .links {
            background-color: rgb(190, 196, 190);
        }
  
        .links a {
            color: black;
          background-color: white;
            padding: 5px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
            text-align: center;
            border-bottom: 1px solid white;
        }
    
        .links a:hover {
            background-color: black;
            color: white;
        }
    .fa, .far, .fas{
      
      color: transparent;
    }
    
    .menu ul li a{
      color: black;
      text-decoration: none;
    }
    
    .menu ul li a: hover{
      color: black;
    }
     
    html {
  scroll-behavior: smooth;
}
    </style>
</head>

<body>

    <header class="site-header clearfix">
        <nav>
            <div class="logo">
                <img src="/img/img1.png">
            </div>
           <div class="navbar">
            <div class="heading">
                <a href="#hamburger-icon" onclick="gfgMenu()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
             <div class="links">
                <a href="">Home</a>
                <a href="#dsds">Documents</a>
                <a href="erer">Contact us</a>
                <a href="/index">Log out</a>
            </div>
             </div>
            <div class="menu">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="#dsds">Documents</a></li>
                    <li><a href="#erer">Contact us</a></li>
                    <li><a href="/index">Log out</a></li>
                </ul>
                </ul>
            </div>
        </nav>
        <section>
            <div class="leftside">
                <img src="/img/img2.png">
            </div>
            <div class="rightside">
                <h1>OUR MODERN WAY TO<br> SECURE YOUR DOCS</h1><br>
                <p>Loc-a-Doc is a secure way for creating and storing your personal documents via world famous
                    blockchain technology. It is considered as most secure technology in this world right now. Lock your
                    documents now!</p>
                <br><button id="lk">Welcome</button>
            </div>

        </section>

        <div class="docs">
            <h1>Documents</h1>
        </div>
        <div class="container">
            <div id="row" class="row">
                {{#if hash1}}
                <div class="card">
                    <div class="card-header">
                        <h1>D-LICENSE</h1>
                    </div>
                    <div onclick="loadlastobj('License','{{hash1}}')" class="card-body">
                        <p>
                            Drivers license is an official document, size of a credit card, permitting a specific
                            individual to operate types of motorized vehicles
                        </p>
                        <a onclick="loadlastobj('License','{{hash1}}')" href="./License?doctype=License&dochash={{hash1}}" class="btn">VIEW</a>
                    </div>
                </div>
                {{/if}}
                {{#if hash2}}
                <div class="card">
                    <div class="card-header">
                        <h1>AADHAR-C</h1>
                    </div>
                    <div onclick="loadlastobj('Aadhar','{{hash2}}')" class="card-body">
                        <p>
                            Aadhaar card or Aadhaar number is a 12-digit unique identity number for every Indian citizen
                            for identification purpose across country.
                        </p>
                        <a onclick="loadlastobj('Aadhar','{{hash2}}')" href="./Aadhar?doctype=Aadhar&dochash={{hash2}}" class="btn">VIEW</a>
                    </div>
                </div>
                {{/if}}
                {{#if hash3}}
                <div class="card">
                    <div class="card-header">
                        <h1>BIRTH-C</h1>
                    </div>
                    <div onclick="loadlastobj('Birth','{{hash3}}')" class="card-body">
                        <p>
                            Document certifying the circumstance of the birth or to a certified copy of or
                            representation of the ensuing registration of that birth
                            <a onclick="loadlastobj('Birth','{{hash3}}')" href="./Birth?doctype=Birth&dochash={{hash3}}" class="btn">VIEW</a>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>

        <div class="hmm">
            <div class="container1" id="erer">
                <h2>Contact Us</h2>

                <form action="index.html" method="POST">
                    <input type="text" placeholder="Your name" required>
                    <input type="email" placeholder="Email address" required>
                    <input type="texr" placeholder="Subject" required>
                    <textarea name="msg" id="msg" cols="30" rows="3" placeholder="Message"></textarea>
                    <input type="submit" id="btn" value="Send">
                </form>
            </div>
        </div>
        <div class="footer">
            <h4>Website developed and maintained by Lock-a-Doc Inc.</h4>
        </div>
          <script>
        function gfgMenu() {
            const GFG = document.querySelector('.links');
  
            if (GFG.style.display === "none") {
                GFG.style.display = "block";
            }
            else {
                GFG.style.display = "none";
            }
        }
  </script>
    </header>


</body>

</html>